<%{ 'layout' }%>
<%{ content %>
<h1>Create a New Vault</h1>

<p class="lead">This page creates a new 2/3-multisig smart contract
using 3 Trezors.</p>

<p>You and your co-signers will need a total of 3 Trezor hardware
wallets.  Not all 3 Trezors need to be co-located.  Co-signers can use
this application on their own computers and send you their addresses
via a (preferably secure) side-channel such as email.</p>

<p>Each address corresponds to some BIP32 path on a co-signer's
Trezor.  Co-signers can select whichever BIP32 path they want or each
use the default below.  It's OK to re-use BIP32 paths from the same
Trezor across different smart contracts.  Regardless of what you
choose to do, <b>remember which Trezor and BIP32 path you used for
each co-signer's address!</b></p>

<div class="row">

  <div class="col-md-8">

    <div id="create-vault" class="card">
      <h5 class="card-header">
	<span class="justify-content-between d-flex">
	  Create Vault
	  <small class="text-muted">Signers: <span id="signers-added-count">0</span>/3</small>
	</span>
      </h5>
      <div class="card-body">
	<p class="card-text">Once you have addresses from all three signers you can create your vault.</p>
	<p class="text-danger card-text"></p>
	<form id="create-vault-form">
	  <button type="submit" class="btn btn-primary" disabled>
	    <i class="fa fa-cloud-upload"></i> &nbsp;
	    <span class="button-text">Create Vault</span>
	  </button>
	</form>
      </div>
    </div>

    <div id="pending-authorization" class="card" hidden>
      <h5 class="card-header">
	<span class="justify-content-between d-flex">
	  Authorize Vault Creation Transaction
	  <i class="fa fa-spinner fa-spin"></i>
	</span>
      </h5>
      <div class="card-body">
	<p class="card-text">A transaction creating your vault is about to be broadcast.</p>
	<p class="card-text">You may need to authorize the transaction using your Ethereum client.</p>
	<p class="text-danger card-text"></p>
	<form id="restart-create-vault-form">
	  <button type="submit" class="btn btn-danger" disabled>
	    <i class="fa fa-undo"></i> &nbsp;
	    <span class="button-text">Restart Vault Creation</span>
	  </button>
	</form>
      </div>
    </div>

    <div id="pending-confirmation" class="card" hidden>
      <h5 class="card-header">
	<span class="justify-content-between d-flex">
	  Creating Vault
	  <i class="fa fa-spinner fa-spin"></i>
	</span>
      </h5>
      <div class="card-body">
	<p class="card-text">A transaction creating your vault was broadcast.  We are waiting for it to confirm.</p>
	<dl class="row">
	  <dt class="col-2">TXID</dt>
	  <dd class="col-10"><code class="vault-transaction-hash"></code></dd>
	</dl>
      </div>
    </div>

    <div id="vault" class="card" hidden>
      <h5 class="card-header">Vault Created</h5>
      <div class="card-body">
	<p class="card-text">Your vault was created. <b>Record your new vault address before leaving this page.</b></p>
	<dl class="row">
	  <dt class="col-3">TXID</dt>
	  <dd class="col-9"><code class="vault-transaction-hash"></code></dd>

	  <dt class="col-3">Address</dt>
	  <dd class="col-9"><code class="vault-address"></code></dd>
	</dl>
	<p class="text-danger"><b>Warning:</b> This is an ETH address.  Do not send ETC or ERC20 tokens to this address!</p>
      </div>
    </div>

    <%{ 'signer' {number: 1} }%>
    <%{ 'signer' {number: 2} }%>
    <%{ 'signer' {number: 3} }%>
  </div>

  <div class="col-md-4">

    <%{ 'connection' }%>

  </div>
</div>
<%} %>
