<div class="form-group">
  <label for="select-browser">Browser:</label>
  <select class="form-control bootstrap-select" id="select-browser">
    <option>Chrome</option>
    <option>Firefox</option>
    <option>Safari</option>
    <option>Opera</option>
    <option>Edge</option>
    <option>IE</option>
    <option>Blink</option>
    <option>Brave</option>
    <option>Mist</option>
    <option>Parity</option>	    
    <option>Other</option>	    
  </select>
</div>
<div class="form-group">
  <label for="select-node">Ethereum Node/Wallet:</label>
  <select class="form-control bootstrap-select" id="select-node">
    <option>Other</option>    
    <option>Metamask</option>
    <option>Parity</option>
    <option>Geth</option>
  </select>
</div>
<div class="form-group">
  <label for="select-protocol">Protocol:</label>
  <select class="form-control bootstrap-select" id="select-protocol">
    <option>file:</option>
    <option>http:</option>
    <option>https:</option>
    <option>Other</option>	    
  </select>
  <p id="debugging-info-text">Debugging Info</p>    
</div>
