<%{ 'layout' }%>
<%{ content %>
<h1>Protect Your ETH</h1>

<div class="row">
  <div class="col-8">

    <p class="lead">This application allows you to create and spend
    from an Ethereum 2/3-multisig smart contract controlled by
    hardware wallets.</p>

    <p>It was built by <a href="https://www.unchained-capital.com"
    target="_blank">Unchained Capital</a> to help holders worldwide
    safely and collaboratively store their ETH using multisig
    cold-storage provided by hardware wallets.</p>

    <p>If you are storing ETH on a Trezor or Ledger and you trust at
    least two other people, you could be doing it better.  You can use
    this application with your trusted friends, family, and colleagues
    to protect your wealth.</p>

    <p>To learn more about the design philosophy of this application
    and smart contract, read
    the <a href="https://blog.unchained-capital.com/a-simple-safe-multisig-ethereum-smart-contract-for-hardware-wallets-a107bd90bb52"
    target="_blank">blog post</a>.  If you are a developer you may
    want to check out
    the <a href="https://github.com/unchained-capital/ethereum-multisig"
    target="_blank">source code</a> for the smart contract (which
    includes this dApp) on GitHub.  Unchained Capital is also
    operating a <a href="https://www.unchained-capital.com/bounties"
    target="_blank">bug bounty</a> around this contract & dApp.</p>

  </div>

  <div class="col-4">
    <div class="card">
      <h5 class="card-header">Useful Links</h5>
      <div class="card-body">
	<dl>
	  <dt>Background</dt>
	  <dd><a href="https://blog.unchained-capital.com/a-simple-safe-multisig-ethereum-smart-contract-for-hardware-wallets-a107bd90bb52
" target="_blank">Blog Post</a>
	  <dt>Code</dt>
	  <dd><a href="https://github.com/unchained-capital/ethereum-multisig" target="_blank">GitHub Repository</a>
	  <dt>Suggest an improvement</dt>
	  <dd><a href="https://github.com/unchained-capital/ethereum-multisig/issues" target="_blank">GitHub Issues</a>
	  <dt>Report a bug?</dt>
	  <dd><a href="https://www.unchained-capital.com/bounties" target="_blank">Bug Bounty</a>
	</dl>
      </div>
    </div>
  </div>

</div>

<h2>Hardware Wallets Required</h2>

<div class="row">
  <div class="col-8">
    <p class="lead">This application connects hardware wallets with the
      Ethereum blockchain.</p>

    <p>When creating the multisig smart contract, three hardware wallets are required.
      When spending, 2/3 of these same hardware wallets are required.  The private
      keys used to create and spend from a contract are only present on your
      hardware wallets.  This application stores no data whatsoever about you, your
      wallets, your addresses, or your transactions.</p>

    <p>This means that you are completely in control of your own security
      and accounting.  In particular:</p>

    <ul>
      <li>You must yourself track the addresses of the smart contracts
	this application creates.</li>
      <li>For each such address, you must track which harware wallets you used to
	create the address, along with which BIP32 derivation path you used
	with each hardware wallet (it is OK to reuse the same BIP32
	path with each wallet).</li>
      <li>You must protect these hardware wallets and their corresponding wallet
	words.  2/3-multisig is a great security improvement over single-signature
	but that's no excuse to get sloppy about the security of an
	individual key.</li>
    </ul>
  </div>

  <div class="col-4">
    <div class="card">
      <h5 class="card-header">Supported Devices</h5>
      <div class="card-body">
	<p>
	  This application has been tested with the following hardware wallets:
	  <ul>
	    <li><a href="https://shop.trezor.io/product/trezor-one-white" target="_blank">Trezor One</a></li>
	    <li><a href="https://www.ledger.com/products/ledger-nano-s" target="_blank">Ledger Nano S</a></li>
	  </ul>
	</p>
      </div>
    </div>
  </div>
</div>

<h2>Ethereum Client Required</h2>

<div class="row">
  <div class="col-8">
    <p class="lead">This application requires a funded account in a
      synced, connected Ethereum client to pay for gas.</p>

    <p>The Ethereum transactions required to create and spend from the
      smart contract will be authored by this application.  Broadcasting
      them to the Ethereum network requires a synced, connected Ethereum
      client.  The client should have an account with some modest ETH
      balance to pay for gas.  As of this writing, 0.01 ETH is more than
      sufficient.</p>

    <p>The account used to pay for gas has no rights to fund, spend
      from, or otherwise control the smart contract this application
      creates.  This means creating and spending from this smart
      contract can be done by separate accounts, as long as this
      application and the same 3 hardware wallets are used.</p>

    <p>We recommend you use the <a href="https://metamask.io/"
    target="_blank">Metamask</a> plugin.  The design of the smart
    contract allows using a convenient browser-based client such as
    Metamask without compromising security.</p>

  </div>

  <div class="col-4">
    <div class="card">
      <h5 class="card-header">Additional Clients</h5>
      <div class="card-body">

	<p>The following clients may also be used, though they may
	require some special configuration or browser extensions.</p>

	<ul>
	  <li><a href="https://www.parity.io/" target="_blank">Parity</a></li>
	  <li><a href="https://geth.ethereum.org/" target="_blank">Geth</a></li>
	</ul>

	<p>See
	the <a href="https://github.com/unchained-capital/ethereum-multisig#dapp"
	target="_blank">dApp section</a> of the <code>README</code>
	for this application's GitHub repo.</p>

      </div>
    </div>
  </div>
</div>

<h2>Feedback?</h2>

<p>Unchained Capital is actively developing this project and very much
welcomes feedback.  To file bugs or request features, please
use <a href="https://github.com/unchained-capital/ethereum-multisig/issues"
target="_blank">GitHub issues</a>.</p>

<p>Unchained Capital is also operating
a <a href="https://www.unchained-capital.com/bounties"
target="_blank">bug bounty</a> for this project.</p>

<h2>Source Code</h2>

<p>The source code of the smart contract used by this version of this
application is below.  You can also find
it <a href="https://github.com/unchained-capital/ethereum-multisig/blob/master/contracts/MultiSig2of3.sol"
target="_blank">on GitHub</a> or see it
on <a href="http://etherscan.io/" target="_blank">Etherscan</a> for
any contract created by this application.</p>

<pre><code id="solidity-contract" class="solidity"><%= contract_src %> </code></pre>

<%{ 'disclaimer' }%>
<%} %>
