<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Ethereum Multisig Vault" />
    <title>Ethereum Multisig Vault</title>

    <link rel="stylesheet" href="<%= base_dir %>/css/dapp.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="<%= base_dir %>/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= base_dir %>/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= base_dir %>/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="<%= base_dir %>/images/favicons/manifest.json">
    <link rel="mask-icon" href="<%= base_dir %>/images/favicons/safari-pinned-tab.svg" color="#387EEC">
    <link rel="shortcut icon" href="<%= base_dir %>/images/favicons/favicon.ico">
    <meta name="msapplication-config" content="<%= base_dir %>/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>
    <nav class="navbar bg-light">
      <div class="container">
	<a class="navbar-brand" href="<%= base_dir %>/index.html">
	  <img src="<%= base_dir %>/images/logo.png" alt="logo" /> 
	  Ethereum Multisig Vault <small>v2.0</small>
	</a>
	<ul class="nav">
	  <li class="nav-item d-none d-lg-inline-block">
            <a href="<%= base_dir %>/create/index.html" class="nav-link" >Create</a>
	  </li>
	  <li class="nav-item d-none d-lg-inline-block">
            <a href="<%= base_dir %>/spend/index.html" class="nav-link">Spend</a>
	  </li>
	  <li class="nav-item d-none d-lg-inline-block">
            <a href="<%= base_dir %>/" class="nav-link">Help</a>
	  </li>
	</ul>
	<button class="navbar-toggler d-xl-none" type="button" data-toggle="collapse" data-target="#mainNavContent" aria-controls="mainNavContent" aria-expanded="false" aria-label="Toggle navigation">
	  <i class="fa fa-bars" aria-hidden="true"></i>
	</button>
      </div>
      <div class="container justify-content-end" id="subNavItems">
	<div id="mainNavContent" class="collapse">
	  <ul class="navbar-nav">
            <li class="nav-item d-lg-none">
              <a href="<%= base_dir %>/index.html" class="nav-link">Create</a>
            </li>
            <li class="nav-item d-lg-none">
              <a href="<%= base_dir %>/spend/index.html" class="nav-link">Spend</a>
            </li>
            <li class="nav-item d-lg-none">
              <a href="<%= base_dir %>/help/index.html" class="nav-link">Help</a>
            </li>
	  </ul>
	</div>
      </div>
    </nav>
    <div class="container">
      <%{{ content }}%>
    </div>
    <script type="text/javascript" src="<%= base_dir %>/js/dapp.js"></script>
    <script type="text/javascript">
      window.TREZOR_POPUP_ORIGIN = "https://connect.trezor.io";
    </script>
    <script type="text/javascript" src="https://connect.trezor.io/4/connect.js"></script>
  </body>
</html>
