<div class="card signature" hidden>
  <h5 class="card-header">Signature <%= number %></h5>
  <div class="card-body">

    <div class="signature-new wallet-account">

      <h5 class="card-title">Local</h5>

      <form class="extract-signer-signature-form wallet-account-form">

	<p>If the signer is local, choose a BIP32 path, the type of
	hardware wallet, and click the "Sign" button.</p>

	<%{ 'bip32' {number: number} }%>

	<div class="spend-message-trezor-wrapper">
	  <p>Your Trezor will will display the following message for you
	    to sign:</p>

	  <p class="text-center"><code class="spend-message-trezor"></code></p>
	</div>

	<div class="spend-message-ledger-wrapper" hidden>
	  <p>Your Ledger will will display the following message for you
	    to sign:</p>

	  <p class="text-center"><code class="spend-message-ledger"></code></p>
	</div>

	<button type="submit" class="btn btn-primary">
	  <i class="fa fa-thumbs-up"></i> &nbsp;
	  Sign
	</button>
	<p class="text-info card-text trezor-info">Ensure your Trezor is plugged in.</p>
	<p class="text-info card-text ledger-info" hidden>Ensure your Ledger is plugged in and the Ethereum app is open.</p>
	<p class="text-danger card-text ledger-warning-http" hidden>Ledger requires an HTTPS connection.</p>
	<p class="text-danger card-text trezor-errors"></p>
      </form>

      <hr />

      <h5 class="card-title">Remote</h5>

      <p>If the signer is remote, have them use this application to
      enter the same transaction details above, sign with their own
      hardware wallet, and send their signature to you.  Enter it
      below and click the "Add Signature" button.</p>

      <form class="enter-signer-signature-form" novalidate>
	<div class="form-group">
	  <label for="signature-<%= number %>-signature-input">Signature</label>
	  <input type="text" class="form-control form-control-sm signature-input" id="signer-<%= number %>-signature-input" aria-describedby="signer-<%= number %>-signature-help" required>
	  <small id="signer-<%= number %>-signature-help" class="form-text text-muted">Previously created by this application.</small>
	</div>

	<div class="form-group">
	  <label for="select-hardware-wallet-<%= number %>">Select Hardware Wallet:</label>
	  <select class="form-control bootstrap-select signer-hardware-wallet" id="select-hardware-wallet-<%= number %>">
	    <option value="Trezor">Trezor One</option>
	    <option value="Ledger">Ledger Nano S</option>
	  </select>	  
	</div>

	<button type="submit" class="btn btn-primary">
	  <i class="fa fa-plus"></i> &nbsp;
	  Add Signature
	</button>
      </form>
    </div>

    <div class="signature-show signature-show-local" hidden>
      <h5 class="card-title">Local</h5>
      <%{ 'signature_data' {bip32_path: true} }%>
      <p class="card-text">If you are sending this signature to another signer to
	be entered manually, copy the 'Signature' field (the long one).</p>
      <form class="signature-remove-form">
	<button type="submit" class="btn btn-danger">Remove</button>
      </form>
    </div>

    <div class="signature-show signature-show-remote" hidden>
      <h5 class="card-title">Remote</h5>
      <p class="card-text">This signature was entered manually from a signature generated by this application on a remote wallet:</p>
      <%{ 'signature_data' {bip32_path: false} }%>
      <form class="signature-remove-form">
	<button type="submit" class="btn btn-danger">Remove</button>
      </form>
    </div>
    

  </div>
</div>
