<dl class="row small">

<% if (bip32_path) { %>
  <dt class="col-2">BIP32 Path</dt>
  <dd class="col-10"><code class="signature-bip32-path"></code></dd>
<% } %>

  <dt class="col-2">Wallet Type</dt>
  <dd class="col-10"><code class="wallet_type"></code></dd>

  <dt class="col-2">Signature</dt>
  <dd class="col-10"><code class="signature-full"></code></dd>

  <dt class="col-2">Signature R</dt>
  <dd class="col-10"><code class="signature-r"></code></dd>

  <dt class="col-2">Signature S</dt>
  <dd class="col-10"><code class="signature-s"></code></dd>

  <dt class="col-2">Signature V</dt>
  <dd class="col-10"><code class="signature-v"></code></dd>
  
</dl>
