<div class="card signer">
  <h5 class="card-header">Signer <%= number %></h5>
  <div class="card-body">

    <div class="signer-new wallet-account">

      <h5 class="card-title">Local</h5>

      <form class="export-signer-address-form wallet-account-form">

	<p>If the signer is local, choose a BIP32 path, the type of
	hardware wallet, and click the "Export Address" button.</p>

	<%{ 'bip32' {number: number} }%>
        <button type="submit" class="btn btn-primary">
	  <i class="fa fa-upload"></i> &nbsp;
	  Export Address
	</button>
	<p class="text-info card-text trezor-info">Ensure your Trezor is plugged in.</p>
	<p class="text-info card-text ledger-info" hidden>Ensure your Ledger is plugged in and the Ethereum app is open.</p>
	<p class="text-danger card-text ledger-warning-http" hidden>Ledger requires an HTTPS connection.</p>
	<p class="text-danger card-text trezor-errors"></p>
      </form>

      <hr />

      <h5 class="card-title">Remote</h5>

      <p>If the signer is remote, have them export their address
      (using this same application), send it to you, and then enter it
      below and click the "Add Address" button.</p>

      <p>You do not need to specify the hardware wallet type when using this method.</p>

      <form class="enter-signer-address-form" novalidate>
	<div class="form-group">
	  <label for="signer-<%= number %>-address-input">Address</label>
	  <input type="text" class="form-control form-control-sm signer-address-input" id="signer-<%= number %>-address-input" aria-describedby="signer-<%= number %>-address-help" required>
	  <small id="signer-<%= number %>-address-help" class="form-text text-muted">Previously exported by this application.</small>
	  <p class="text-danger small"></p>
	</div>
	<button type="submit" class="btn btn-primary" disabled>
	  <i class="fa fa-plus"></i> &nbsp;
	  Enter Address
	</button>
      </form>
    </div>

    <div class="signer-show signer-show-local" hidden>
      <h5 class="card-title">Local</h5>

      <dl class="row">

	<p class="card-text">This address was exported from a local hardware wallet:</p>

	<dl class="row">
	  <dt class="col-3">Address</dt>
	  <dd class="col-9"><code class="signer-address"></code></dd>

	  <dt class="col-3">BIP32 Path</dt>
	  <dd class="col-9"><code class="signer-bip32-path"></code></dd>
	</dl>

	<p class="card-text"><b> Save the BIP32 path used with this hardware wallet, you will need to enter it when attempting to spend funds from this contract.</b></p>

      </dl>

      <form class="signer-remove-form">
	<button type="submit" class="btn btn-danger">
	  <i class="fa fa-trash"></i> &nbsp;
	  Remove
	</button>
      </form>
    </div>

    <div class="signer-show signer-show-remote" hidden>

      <h5 class="card-title">Remote</h5>

      <p class="card-text">This address was entered manually from an address previously exported by this application:</p>

      <div class="text-center">
	<p class="card-text"><code class="signer-address"></code></p>
      </div>
	
      <p class="card-text">To spend from this address, you must enter a signature from the remote hardware wallet using the same information used to generate this address.</p>

      <form class="signer-remove-form">
	<button type="submit" class="btn btn-danger">
	  <i class="fa fa-trash"></i> &nbsp;
	  Remove
	</button>
      </form>
    </div>

  </div>
</div>
