<%{ 'layout' }%>
<%{ content %>
<h1>Spend from Existing 2/3-Multisig ETH Smart Contract</h1>

<p class="lead">This page spends from an existing 2/3-multisig
Ethereum smart contract using 2 hardware wallets.</p>

<h2>Instructions</h2>

<ol>
  <li><strong>Assemble with your co-signer.</strong>  You will need
  one co-signer in addition to yourself.  Both of you will need the
  hardware wallets
  and <a href="https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki"
  target="_blank">BIP32 paths</a> you used when you created the
  address you are now spending from.  You do not all need to be
  co-located.</li>

  <li><strong>Import the source smart contract by entering its
  address.</strong> The contract will be checked to make sure it was
  created by this application and is of a recent-enough version.</li>

  <li><strong>Enter the destination address and amount.</strong> Each
  signature contains these parameters so changing any one of them will
  invalidate any signatures you've already collected.</li>

  <li><strong>Collect signatures for both signers.</strong> Both
  signers will need to sign the transaction from the same hardware
  wallets and using the same BIP32 paths they used when creating the
  source address.  A remote signer can independently use this
  application, <strong>input identical transaction details</strong>,
  and transmit their signature to a local signer.  (Signature are
  public data, but signers may still wish to use secure/private
  channels.)</li>

  <li><strong>Broadcast the doubly-signed transaction to the Ethereum
  blockchain.</strong> Once both signers' signatures are entered into
  the form below, use this application to broadcast the transaction to
  the Ethereum blockchain.</li>
</ol>

<div class="row">

  <div class="col-md-8">

    <div id="find-vault" class="card">
      <h5 class="card-header">Import Source Contract</h5>
      <form id="find-vault-form">
	<div class="card-body">
	  <div class="form-group">
	    <label for="vault-address">Address</label>
	    <input type="text" class="form-control form-control-sm" id="find-vault-address-input" aria-describedby="find-vault-address-input-help" placeholder="0xaaa..." required>
	    <small id="find-vault-address-input-help" class="form-text text-muted">An address previously created by this application.</small>
	    <p class="text-danger small"></p>
	  </div>
   	  <button class="btn btn-primary" type="submit" disabled>
	    <i class="fa fa-download"></i> &nbsp;
	    Import this address
	  </button>
	  <p class="text-danger card-text vault-address-errors"></p>
	</div>
      </form>
    </div>

    <div id="author-spend" class="card" hidden>
      <h5 class="card-header">Enter Transaction Details</h5>
      <form id="author-spend-form">
	<div class="card-body">
	  <div class="row">
	    <div class="col-9">
	      <div class="form-group">
		<label for="vault-address">Source Contract Address</label>
		<input type="text" class="form-control form-control-sm" id="author-spend-source-address-input" aria-describedby="author-spend-source-address-input-help" required readonly>
		<small id="author-spend-source-address-input-help" class="form-text text-muted">The source contract address.</small>
	      </div>
	    </div>
	    <div class="col-3">
	      <p>Version <span class="spend-source-version"></span></p>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="spend-address">Destination Address</label>
	    <input type="text" class="form-control form-control-sm destination-address-input" id="spend-destination-address-input" aria-describedby="spend-destination-address-input-help" placeholder="0xaaa..." required>
	    <small id="spend-destination-address-input-help" class="form-text text-muted">The destination address.</small>
	    <p class="text-danger small"></p>
	  </div>
	  <div class="row">
	    <div class="col-9">
	      <div class="form-group">
		<label for="spend-amount">Amount</label>
		<div class="input-group">
		  <input type="text" class="form-control form-control-sm" id="spend-amount-input" aria-describedby="spend-amount-input-help" required>
		  <div class="input-group-append">
		    <span class="input-group-text">ETH</span>
		  </div>
		</div>
		<small id="spend-amount-input-help" class="form-text text-muted">Amount to transfer.</small>
		<p class="text-danger small"></p>
	      </div>
	    </div>
	    <div class="col-3">
	      <p>Available Balance: <span class="spend-source-balance">0</span> ETH</p>
	    </div>
	  </div>
	  <button class="btn btn-primary" type="submit" disabled>
	    <i class="fa fa-pencil"></i> &nbsp;
	    Collect Signatures
	  </button>
	  <div class="text-danger card-text" id="author-spend-errors"></div>
	</div>
      </form>
    </div>

    <div id="spend" class="card" hidden>
      <h5 class="card-header">
	<span class="justify-content-between d-flex">
	  Spend Transaction
	  <small>Signatures: <span id="spend-signature-count">0</span>/2</small>
	</span>
      </h5>
      <div class="card-body">

	<%{ 'spend_transaction' {txid: false} }%>

	<p>Once both signature are obtained, you can broadcast this
	  spend.</p>

	<p>We recommend setting the gas limit for spends to 100000 gas. This dapp
	  should automatically set the gas limit for the broadcasting transacation.
	</p>


	<div class="row">
	  <div class="col-3">
	    <form id="broadcast-spend-form">
	      <button type="submit" class="btn btn-primary" disabled>
		<i class="fa fa-upload"></i> &nbsp;
		Broadcast
	      </button>
	    </form>
	    <p class="text-danger card-text" id="broadcast-spend-errors"></p>
	  </div>
	  <div class="col-3">
	    <form id="modify-spend-form">
	      <button type="submit" class="btn btn-danger">
		<i class="fa fa-undo"></i> &nbsp;
		Modify Spend
	      </button>
	    </form>
	  </div>
	</div>
      </div>
    </div>

    <div id="pending-authorization" class="card" hidden>
      <h5 class="card-header">
	<span class="justify-content-between d-flex">
	  Authorize Spending Transaction
	  <i class="fa fa-spinner fa-spin"></i>
	</span>
      </h5>
      <div class="card-body">
	<p class="card-text">The following transaction spending from your vault is about to be broadcast:</p>
	<%{ 'spend_transaction' {txid: false} }%>
	<p class="card-text">You may need to authorize the transaction using your Ethereum client.</p>
	<p class="text-danger card-text"></p>
	<form id="restart-create-vault-form">
	  <button type="submit" class="btn btn-danger" disabled>
	    <i class="fa fa-undo"></i> &nbsp;
	    <span class="button-text">Retry Spending</span>
	  </button>
	</form>
      </div>
    </div>

    <div id="pending-confirmation" class="card" hidden>
      <h5 class="card-header">
	<span class="justify-content-between d-flex">
	  Broadcasting Spend Transaction
	  <i class="fa fa-spinner fa-spin"></i>
	</span>
      </h5>
      <div class="card-body">
	<p class="card-text">The following spend transaction is being broadcast:</p>
	<%{ 'spend_transaction' {txid: true} }%>
      </div>
    </div>

    <div id="spend-success" class="card" hidden>
      <h5 class="card-header">Transaction Confirmed</h5>
      <div class="card-body">
	<p class="card-text">The following transaction was confirmed:</p>
	<%{ 'spend_transaction' {txid: true} }%>
      </div>
    </div>

    <div id="spend-error" class="card" hidden>
      <h5 class="card-header">Transaction Error</h5>
      <div class="card-body">
	<p class="card-text">The spending transaction failed.
          <ul>
            <li>Are you using the same Hardware Wallets you used to create the vault?</li>
            <li>Did you use the correct BIP32 path?</li>
            <li>Did you provide enough gas for the transaction?</li>
          </ul>
        </p>
	<%{ 'spend_transaction' {txid: true} }%>
      </div>
    </div>    

    
    <%{ 'signature' {number: 1} }%>
    <%{ 'signature' {number: 2} }%>
  </div>
  <div class="col-md-4">
    <%{ 'connection' }%>
  </div>
</div>

<%} %>
